@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);
body {
    margin: 0;
    font-family: roboto, arial;
}

#clock {
}
#clock-date, #clock-time {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#clock-date {
    font-size: 2em;
}

#clock-time {
    font-size: 3em;
}


#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-item-folder .bookmark-item-container {
    display: none;
}

#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-list-item {
    display: inline-block;
    width: 7.5em;
    height: 10em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}
#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-list-item .bookmark-item-pic {
    width: 7.5em;
    height: 7.5em;
    background-color: #80808080;
    border-radius: 20px;
    background-size: cover;
}
#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-item-folder .bookmark-item-pic {
    background-image: url('../img/tabby-icon.png');
}


#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-list-item .bookmark-list-item-text {
    display: inline-flex;
    font-size: 1em;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-top: 0.3em;
}

#bookmark-list  > .bookmark-item-container > .bookmark-list-item > .bookmark-list-item-text {
    font-size: 1.4em;
    font-weight: bold;

}
#bookmark-list  > .bookmark-item-container > .bookmark-list-item > .bookmark-item-container {
    padding-top: 2em;
}

#page-cont {
    width: 100%;
    min-height: 100%;
    background-image: url("../img/yosemite.jpg");
    position: absolute;
}

#main-block {
    width: 80%;
    /*background-color: #737373dd;*/
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#settings {
    position: fixed;
    top: 0;
    right: 0;
}

#settings-menu {
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}

#settings-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
