@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);
body {
    margin: 0;
    font-family: roboto, arial;
}

#clock {
}
#clock-date, #clock-time {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#clock-date {
    font-size: 30px;
}

#clock-time {
    font-size: 40px;
}

.bookmark-item-container {
    margin-left: 10px;
}

#bookmark-list .bookmark-item-container .bookmark-item-folder .bookmark-item-container .bookmark-item-folder .bookmark-item-container {
    display: none;
}

#page-cont {
    width: 100%;
    min-height: 100%;
    background-image: url("../img/yosemite.jpg");
    position: absolute;
}

#main-block {
    width: 80%;
    /*background-color: #737373dd;*/
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#settings {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
}

#settings-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
