@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);
@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-VariableFont_wdth,wght.ttf');
}
@font-face {
    font-family: RobotoCondensed;
    src: url('../font/RobotoCondensed-VariableFont_wght.ttf');
}
@font-face {
    font-family: RobotoMono;
    src: url('../font/RobotoMono-VariableFont_wght.ttf');
}
body {
    margin: 0;
    font-family: Roboto, arial;
}

#clock {
}
#clock-date,
#clock-time {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#clock-date {
    font-size: 2em;
}

#clock-time {
    font-family: RobotoMono;
    font-size: 3em;
}

#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container {
    display: none;
}

#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-list-item {
    display: inline-block;
    width: 7.5em;
    height: 10em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}
#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-list-item
    .bookmark-item-pic {
    width: 7.5em;
    height: 7.5em;
    background-color: #80808080;
    border-radius: 20px;
    background-size: cover;
    transition: scale 0.1s ease-out; /* Transition for the fade effect */
}
#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-list-item
    .bookmark-item-pic:hover{
    scale: 1.05;
}
#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-pic {
    background-image: url("../img/tab.png");
}

#bookmark-list
    .bookmark-item-container
    .bookmark-item-folder
    .bookmark-item-container
    .bookmark-list-item
    .bookmark-list-item-text {
    display: inline-flex;
    font-size: 1em;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-top: 0.3em;
}

#bookmark-list
    > .bookmark-item-container
    > .bookmark-list-item
    > .bookmark-list-item-content
    > .bookmark-list-item-text {
    font-size: 1.4em;
    font-weight: bold;
}

#bookmark-list > .bookmark-item-container {
    transition: opacity 0.3s ease-out; /* Transition for the fade effect */
    opacity: 1; /* Initial opacity */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fade-out {
    opacity: 0 !important; /* Fade out opacity */
}
#bookmark-list
    > .bookmark-item-container
    > .bookmark-list-item
    > .bookmark-item-container {
    padding-top: 2em;
}

#page-cont {
    width: 100%;
    min-height: 100%;
    background-image: url("../img/yosemite.jpg");
    position: absolute;
}

#main-block {
    width: 80%;
    /*background-color: #737373dd;*/
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#settings {
    position: fixed;
    top: 0.5em;
    right: 1em;
}

#settings-menu {
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    min-width: 17em;
}

.settings-menu-item {
    display: flex;
}
.settings-menu-item > label {
    margin-right: auto;
}

.settings-menu-heading {
    font-weight: bold;
    font-size: 1.1em;
}

#settings-background-file {
    width: 5em;
}

#settings-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    border: none;
    background: none;
    padding: 0.7em;
}

hr {
    border-width: 3px;
    border-radius: 30px;
    width: 75%;
    margin-bottom: 2em;
}

